var Confidence = require('confidence');


var criteria = {
    env: process.env.NODE_ENV
};


var config = {
    $meta: 'This file configures the plot device.',
    projectName: '---replace---',
    port: {
        web: 9002
    },
    authAttempts: {
        forIp: 50,
        forIpAndUser: 7
    },
    hapiAzureSB: {
        $filter: 'env',
        production: {
            url: '---replace---'
        },
        $default: {
            url: '---replace---',
            topicPath: '---replace---',
            subscriptionPath: '---replace---'
        }
    },
    hapiMongoModels: {
        $filter: 'env',
        production: {
            mongodb: {
                url: '---replace---'
            },
            autoIndex: false
        },
        test: {
            mongodb: {
                url: '---replace---'
            },
            autoIndex: true
        },
        $default: {
            mongodb: {
                url: '---replace---'
            },
            autoIndex: true
        }
    },
    nodemailer: {
        host: 'smtp.gmail.com',
        port: 465,
        secure: true,
        auth: {
            user: '---replace---',
            pass: '---replace---'
        }
    },
    system: {
        fromAddress: {
            name: '---replace---',
            address: '---replace---'
        },
        toAddress: {
            name: '---replace---',
            address: '---replace---'
        }
    },
    good: {
        reporters: [
            {
                reporter: require('good-logentries'),
                args: [
                    {
                        log: '*',
                        request: '*',
                        error: '*',
                        ops: '*'
                    },
                    {
                        // Any option you can pass to node-logentries.logger (except levels)
                        token: '---replace---',
                        secure: true
                    }
                ]
            }
        ]
    }
};


var store = new Confidence.Store(config);


exports.get = function (key) {

    return store.get(key, criteria);
};


exports.meta = function (key) {

    return store.meta(key, criteria);
};
